<p>{{ 'hello world shahil pipes' | custom }}</p>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text" />
    <div *ngIf="fc['name'].errors?.['required'] && fc['name'].touched">
        Name is required.
      </div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message"></textarea>
    
    <button type="submit">Submit</button>
  </form>
  

 